.infos {
    padding: 16px 24px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    &_info {
        display: flex;
        gap: 40px;

        &_item {
            font-size: 14px;
            color: black;

            b {
                font-size: 18px;
                display: block;
                color: black;
            }
        }
    }

    @media (max-width: 640px) {
        display: block;

        &_info {
            display: block;

            &_item {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width: 1024px) {

        &_info {
            gap: 16px;
        }
    }
}